.pokeball-icon{
position: absolute;
top: -80px;
left: -180px;
z-index: -1;
user-select: none;
}

app-pokemon-gallery{
  display: flex;
  flex-flow: row wrap;
}

.left{
display: flex;
flex-direction: column;
margin: 0 10vw;
}
