<div class="pokemon-card">
  <img src="../../assets/IMG/1.gif" alt="">
  <h3 class="id">Nº1</h3>
  <h2 class="name">Bulbasaur</h2>
  <div class="category">
    <span class="category-tag poison" >Poison</span>
    <span class="category-tag grass">Grass</span>
  </div>
</div>

<div class="pokemon-card">
  <img src="../../assets/IMG/3.gif" alt="">
  <h3 class="id">Nº3</h3>
  <h2 class="name">Venusaur</h2>
  <div class="category">
    <span class="category-tag poison" >Poison</span>
    <span class="category-tag grass">Grass</span>
  </div>
</div>
